/*
Colors used:
Background: #F4F4F2;
Header & Footer: #373457;
Button default: #621C8D;
Button hovered: #B56F7C;
*/

:root {
  /* --background-color: #0B192E; */
  --background-color: #0B192D;
  --background-light: #12233F;
  --shadow-color: #040910;
  /* --background-color: #020202; */
  --font-light: #CDD7F5;
  --font-dark: #8993AF;
  --font-accent: #6CE4FE;
  --font-accent-50: #6CE4FE80;
  --font-accent-50: #6CE4FE4D;
  --orange: #df740c;

  --manrope: 'Manrope';
  --ibm: 'IBM Plex Mono';
  --border-radius: 5px;
  --duration: .3s;
  --box-shadow: 12px 12px 20px 1px var(--shadow-color);
  --box-shadow-hover: 2px 2px 15px 4px var(--font-accent), -2px -2px 15px 4px var(--font-accent);

  --gap: 8px;
  --gap0-5: calc(var(--gap)*0.5);
  --gap1-5: calc(var(--gap)*1.5);
  --gap2: calc(var(--gap)*2);
  --gap3: calc(var(--gap)*3);
  --gap4: calc(var(--gap)*4);
  --gap5: calc(var(--gap)*5);
  --gap6: calc(var(--gap)*6);
  --gap7: calc(var(--gap)*7);
  --gap8: calc(var(--gap)*8);
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  background-color: var(--background-color);
  background-color: var(--background-color);
  font-family: var(--manrope), sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.6;
  color: #CDD7F5;
}

b {
  font-weight: 600;
}

h1,
h2,
h3,
h4 {
  line-height: 1.4;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  text-align: left;
}

.light {
  color: #CDD7F5;
}

.dark {
  color: #8993AF;
}

.blue {
  color: var(--font-accent);
}

strong {
  color: var(--font-accent);
}

.center {
  text-align: center;
}

h1.left {
  text-align: left;
}

h1.mob-sml {
  font-size: 2.25rem;
}

h2 {
  font-size: 3rem;
  font-weight: 300;
}

h2.subheader {
  text-align: center;
}

h2.section {
  padding: 10px 0 0 10px;
}

#projects {
  padding: 0;
}

footer h2 {
  font-size: 1.7rem;
  padding-bottom: 15px;
}

h2.skills {
  margin-bottom: 0;
}

h3 {
  font-size: 2.5rem;
  font-weight: 300;
}

.animation h3 {
  margin-top: 0;
}

h3.notopmargin {
  margin-top: 10px;
}

h4 {
  font-size: 1.35rem;
  font-weight: 500;
}

p.intro {
  font-size: 2rem;
  padding-top: 30px;
}

p.narrow {
  max-width: 80%;
}

b.neon {
  font-weight: 100;
  color: var(--font-accent);
  opacity: 80%;
}

.description {
  font-style: italic;
  text-align: center;
  margin-top: 0;
}

.mob-only {
  margin-top: 0;
}

img {
  width: 100%;
  border-radius: var(--border-radius);
}

svg {
  border-radius: var(--border-radius);
}

img.gif {
  border-radius: 20px;
  max-height: 400px;
  width: auto;
}

.center {
  text-align: center;
}

iframe {
  width: 100%;
  height: auto;
  border-radius: var(--border-radius);
}

a,
a:visited {
  color: #373457;
  font-weight: 600;
  text-decoration: none;
  /* transition-property: opacity, text-decoration; */
}

/* a:hover,
a:focus,
a:active {
  opacity: 80%;
  text-decoration: underline;
} */

a.link-dev {
  color: var(--font-dark);
  font-weight: 600;
  border-radius: var(--border-radius);
}

a.link-dev:hover {
  background-color: var(--font-dark);
  color: var(--background-color);
}

.body a,
.body a:visited {
  color: var(--background-color);
  font-weight: 500;
  text-decoration: underline;
  transition-property: opacity;
}

/* .body a:hover,
.body a:focus,
.body a:active {
  opacity: 70%;
} */

a.img:hover,
a.img:active,
a.img:focus {
  opacity: 100%;
}

header a:hover {
  opacity: 100%;
}

.button,
.button:visited {
  display: inline-block;
  font-family: var(--ibm);
  opacity: .85;
  min-width: 150px;
  text-align: center;
  color: var(--font-accent);
  background-color: transparent;
  font-weight: 300;
  font-size: 1.4rem;
  padding: 10px;
  border-radius: var(--border-radius);
  border: 1px solid var(--font-accent-50);
  transition-duration: var(--duration);
}

.button:hover,
.button:focus,
.button:active {
  transform: translate(0, -4px);
  opacity: 1;
  /* background-color: var(--background-color); */
  border: 1px solid var(--font-accent);
  /* opacity: 80%; */
  text-decoration: none;
  cursor: pointer;
}

#navbar {
  transition: top 0.3s;
}

.paddingtop {
  padding-top: 40px;
}

header {
  background-color: var(--background-color);
  background-color: var(--background-color);
  padding: 10px;
  width: 100%;
  color: #CDD7F5;
  position: fixed;
  z-index: 999;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li a,
nav ul li a:visited {
  font-family: var(--ibm);
  color: #CDD7F5;
  padding: 0 10px;
  text-transform: uppercase;
  font-weight: 700;
  transition-duration: var(--duration);
  transition-property: color;
}

nav ul li a:hover,
a ul li a:focus,
a ul li a:active {
  color: var(--font-accent);
  transform: translate(0, -4px);
  transition-duration: var(--duration);
  text-decoration: none;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 10px;
  font-size: 20px;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid #6CE4FE80;
  text-align: center;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

.logo {
  max-width: 50px;
  opacity: .6;
  /* transition-property: transform; */
}

.logo:hover,
.logo:focus {
  transform: translate(0, -4px);
  opacity: 1;
  transition: var(--duration);
}

main {
  padding-top: 88px;
}

.container {
  padding: 0 15px;
}

.container-2 {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.backgroundlight {
  background-color: #ffffff;
  color: var(--background-color);
}

.main-image {
  padding-top: 0;
}

.row {
  margin: 25px 0;
  border-bottom: 2px;
  border-color: #E8E8E8;
}


.hero h1 {
  text-align: left;
  margin: 0;
}

.hero h1 span {
  font-size: 0.6rem;
  display: block;
  margin-top: 1rem;
}

.fixes h1 span {
  font-size: 1.6rem;
  display: block;
  margin-top: 1rem;
}

.nobottommargin {
  margin-bottom: 0;
}

.ia {
  width: 60%;
  margin: auto;
}

.right {
  text-align: right;
  margin-bottom: 30px;
}

.bottomborder {
  padding-bottom: 20px;
  border-bottom: 2px solid var(--background-color);
}

.resume {
  margin: 10px 10px 10px 0;
}

.padding60 {
  padding-right: 10px;
}

footer {
  background-color: var(--background-color);
  padding: 10px;
  color: #8993AF;
  text-align: center;
  position: relative;
  margin-top: 10px;
}

footer ul {
  list-style-type: none;
  padding: 0;
}

footer ul li {
  display: inline-block;
  padding: 5px 20px;
}

footer h2 {
  margin-bottom: 10px;
}

#copyright {
  font-size: 0.7rem;
  margin-top: 20px;
}

.button.backtolist,
.button.backtolist:visited {
  background-color: transparent;
  color: var(--background-color);
  border: 2px solid var(--background-color);
  transition-property: background-color;
  margin-bottom: 30px;
}

.button.backtolist:hover,
.button.backtolist:focus,
.button.backtolist:active {
  background-color: var(--background-color);
  color: var(--font-accent);
  border: 2px solid var(--background-color);
  opacity: 100%;
}

.alwaysright {
  text-align: right;
  margin-top: 10px;
}

.hide {
  display: none;
}

.casestudy {
  background-color: #fff;
  color: var(--background-color);
  padding: 5px 0 50px;
}

.center {
  margin-top: 20px;
  flex-wrap: wrap;
  text-align: center;
}

.center a {
  margin: 5px;
}

.email {
  color: #8993AF;
  font-weight: 500;
}

.notmobile {
  display: none;
}

.firstanim {
  text-align: center;
}

.blueline {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--font-accent);
}

.topblueline {
  margin: var(--gap6) auto;
  border-top: 1px solid var(--font-accent);
}

.name {
  animation-name: swipe-left;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  position: relative;
}

.spotify-img {
  width: 50%;
  height: auto;
  transform: translate(50%, 0);
}

@keyframes covid-rotate {
  f 0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#covid-img {
  object-fit: contain;
  animation-name: covid-rotate;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-play-state: paused;
}

@keyframes swipe-left {
  0% {
    left: 100%;
  }

  70% {
    left: -5%;
  }

  100% {
    left: 0%;
  }
}

.swipe-right {
  animation-name: swipe-right;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  position: relative;
}

@keyframes swipe-right {
  0% {
    left: -20%;
  }

  70% {
    left: 10%;
  }

  100% {
    left: 0%;
  }
}

@keyframes color-change {
  0% {
    fill: #1BD0F8;
  }

  25% {
    fill: #06195F;
  }

  50% {
    fill: #37065F;
  }

  75% {
    fill: #0DBC34;
  }

  100% {
    fill: #EDD70D;
  }
}

.cloud {
  animation-duration: 10s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes observe {
  from {
    transform: translate(0 0);
  }

  to {
    transform: translate(0, 0);
  }

  to {
    transform: translate(-600px, 0);
  }
}

.peryskop {
  animation-duration: 30s;
  animation-name: observe;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes sunrise {
  from {
    transform: translate(0 0);
  }

  to {
    transform: translate(0, -275px);
  }
}

.sun {
  animation-duration: 25s;
  animation-name: sunrise;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes water-change {
  from {
    fill: #383DBB;
  }

  to {
    fill: #166658;
  }
}

.water {
  animation-duration: 20s;
  animation-name: water-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.max600 {
  max-width: 500px;
  margin: 30px auto 0 auto;
}

#full,
#full1,
#full2,
#full3 {
  width: 100%;
  margin-top: 20px;
}

.section {
  /* color: var(--font-dark); */
  font-weight: 300;
}

.dev-project {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  gap: var(--gap7);
  height: auto;
  width: 32rem;
  background-color: var(--background-light);
  overflow-x: hidden;
  padding: var(--gap2);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.dev-project:hover {
  transition-duration: 1s;
  box-shadow: var(--box-shadow-hover);
}

.dev-projects-headline {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 80rem;
  margin: auto;
  gap: var(--gap);
}

@media only screen and (max-width: 832px) {
  .dev-projects-headline {
    padding-left: var(--gap2);
    padding-right: var(--gap2);
  }
}

.dev-projects-headline a {
  height: 4.8rem;
}

@media only screen and (max-width: 500px) {
  .dev-projects-headline a {
    display: none;
  }

  .dev-projects-headline h2 {
    margin: 0;
  }
}

.alt-dev-projects {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap5);
  overflow-x: auto;
  padding: 2.5rem var(--gap) 0;
  justify-content: center;
  padding-bottom: var(--gap5);
  /* border-bottom: 1px solid var(--font-dark); */
  margin-top: var(--gap5);
}

.alt-dev-projects img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
  filter: grayscale(100%);
  mix-blend-mode: overlay;
  border-radius: var(--border-radius);
}

.talk-now {
  object-fit: contain !important;
}

.dev-project:nth-of-type(2) img {
  object-position: 0 50%;
}

.dev-project svg {
  width: 2.4rem;
  height: auto;
  opacity: .7;
}

svg#realtech {
  width: auto;
}

.dev-controls {
  display: flex;
  align-items: center;
}

.dev-controls svg:hover {
  transform: translate(0, -4px);
  opacity: 1;
  transition-duration: .3s;
}

.dev-project h3 {
  font-weight: 300;
  color: var(--font-light);
  margin-top: var(--gap2);
}

.dev-project .dev-details {
  color: var(--font-dark);
}

.dev-project ul.dev-technologies {
  font-family: var(--ibm);
  font-size: 1.4rem;
  color: var(--font-light);
  list-style: none;
  padding-left: var(--gap2) !important;
}

/* ul.dev-technologies {
  padding-left: none !important;
} */

.skills-tools li,
.dev-project .dev-technologies li {
  display: inline;
  white-space: nowrap;
}

.skills-tools li:not(:last-child):after,
.dev-project .dev-technologies li:not(:last-child):after {
  white-space: nowrap;
  content: ' •';
}

.skills-tools {
  padding-left: 0;
}

.dev-controls {
  display: flex;
  justify-content: end;
  gap: var(--gap3);
  align-items: start;
  margin-top: var(--gap3);
}

.fixed-contact {
  position: fixed;
  top: 60%;
  right: calc(100vw - 10rem);
  display: flex;
  flex-direction: column;
  gap: var(--gap3);
}

#js-menu-project {
  display: inline;
  padding-left: 0;
  list-style-type: none;
}

#js-menu-project li {
  /* display: inline; */
  color: var(--font-dark);
}

#js-menu-project li::before {
  white-space: nowrap;
  content: '•';
  padding-right: var(--gap1-5);
  color: var(--font-accent);
}

#menu-project-gif {
  display: none;
}

div.weather-block {
  display: flex;
  height: 134px;
}

div#weather-card {
  display: none;
  flex-direction: column;
  margin-left: auto;
  background-color: var(--background-light);
  padding: var(--gap1-5);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  line-height: 1rem;
  font-size: 2rem;
}

div.bottom-row {
  display: flex;
  align-items: end;
}

div.bottom-row p:nth-of-type(1) {
  color: var(--font-accent);
  font-weight: bold;
  font-size: 2.5rem;
}

div.bottom-row p:nth-of-type(2) {
  padding-bottom: 4px;
}

div#weather-card div {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

button#getWeather {
  height: 40px;
  margin-top: 8px;
  margin-left: auto;
  animation-name: weather-button;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

button#getWeather:hover {
  animation-play-state: paused;
}

@keyframes weather-button {
  0% {
    border-color: var(--font-accent-50);
  }

  1% {
    border-color: var(--font-accent);
  }

  3% {
    border-color: var(--font-accent-50);
  }


  10% {
    border-color: var(--font-accent);
  }

  12% {
    border-color: var(--font-accent-50);
  }
}

@media only screen and (max-width: 500px) {

  button#getWeather,
  div#weather-card {
    width: 100%;
  }

  div#weather-card div:nth-of-type(1) {
    justify-content: center;
  }
}

@media only screen and (max-width: 1280px) {
  .fixed-contact {
    display: none;
  }
}

@media only screen and (min-width: 1600px) {
  .fixed-contact {
    left: calc((100vw - 160rem) / 2 + 6.5rem);
  }
}

.fixed-contact svg {
  width: 2.4rem;
  height: 2.4rem;
  opacity: .5;
}

.fixed-contact svg:hover {
  cursor: pointer;
  opacity: 1;
  transform: translate(0, -4px);
  transition-duration: var(--duration);
}

@media only screen and (min-width: 640px) {
  header {
    padding: 20px 15px 13px;
  }

  nav {
    display: inline-block;
    float: right;
    margin: 10px 0;
  }

  font {
    font-size: 18px;
  }

  nav ul li {
    display: inline-block;
  }

  h1.mob-sml {
    font-size: 3em;
  }

  h3.notopmargin {
    margin-top: 0;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  .col-md-6 {
    width: 50%;
    margin-bottom: 20px;
  }

  .col-md-4 {
    width: 33.33%;
  }

  .col-md-5 {
    width: 41.66%;
  }

  .col-md-7 {
    width: 58.33%;
  }

  .col-md-8 {
    width: 66.66%;
  }

  .firstanim {
    margin-top: 40px;
    text-align: right;
  }

  h2.nomargintop {
    margin-top: 0;
  }

  p.nomargintop {
    margin-top: 0;
  }

  [class*="col-"] {
    float: left;
    padding: 0 10px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .right {
    text-align: left;
    margin-bottom: 0;
  }

  .prototype {
    text-align: right;
  }

  .onlight {
    background-color: var(--background-color);
    border: none;
    color: #CDD7F5;
  }

  .padding60 {
    padding-right: 80px;
  }

  .hover_image:hover {
    text-decoration: none;
  }

  .hover_image:hover picture:first-child {
    display: none;
  }

  .hover_image:hover picture:last-child {
    display: inline-block;
  }

  .hover_image:hover img:first-child {
    display: none;
  }

  .hover_image:hover img:last-child {
    display: inline-block;
  }

  /*
  .hover_image:hover svg:first-child {
    display: none
  }

  .hover_image:hover svg:last-child {
    display: inline-block
  }
*/
  rect.hide {
    display: inline-block;
  }

  rect.hide:hover {
    display: none;
  }

  .notmobile {
    display: block;
  }

  .blueline {
    padding-bottom: 100px;
    border-bottom: 1px solid var(--font-accent);
  }
}

@media only screen and (min-width: 1024px) {
  .col-md-6 {
    width: 100%;
    margin-bottom: 20px;
  }

  .col-lg-4 {
    width: 33.33%;
  }

  .col-lg-5 {
    width: 41.66%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-8 {
    width: 66.66%;
  }

  .container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  .header {
    width: 100%;
    padding: 0 50px;
    max-width: 1600px;
    margin: auto;
  }

  .right {
    text-align: left;
  }

  nav ul li {
    padding: 0 30px;
  }

  footer {
    margin-top: 300px;
  }

  #my-story h2 {
    margin-top: 0;
  }

  #my-story {
    padding-left: 10px;
  }

  /* h2.section {
    margin-top: 130px;
  } */

  #copyright {
    font-size: 0.7em;
    margin-top: 250px;
  }
}